[Unit]
Description=JanusGraph
Documentation=http://janusgraph.org/
After=network.target

[Service]
Environment=JANUSGRAPH_YAML=/opt/janusgraph/conf/gremlin-server/janusgraph-server.yaml
Environment=JANUSGRAPH_LOGDIR=/var/log/janusgraph
Environment=PID_DIR=/var/run/janusgraph
Environment=JANUSGRAPH_HOME=/opt/janusgraph

Type=simple

User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/janusgraph
# Using /bin/bash gets around potential SELinux issues with Java
ExecStart=/bin/bash -c '/opt/janusgraph/bin/janusgraph-server.sh start'
ExecStop=/bin/bash -c '/opt/janusgraph/bin/janusgraph-server.sh stop'

[Install]
WantedBy=multi-user.target